  <%= simple_form_for @blog_post do |f| %>
     <div class="control-group">
      <%= f.input :title %>
    </div>
      <%= f.input :body, as: :text %>
    <div class="button">
      <%= f.submit %>
    </div>
  <% end %>
