<section id="blog-index">

  <main>
    <article>
      <h1>RubyNewbie Tips</h1>
      <%= render "blog_posts/blogs" %>
    </article>
    <aside>
      <%= render "welcome/side_bar" %>
    </aside>
  </main>

</section>
