<section id="blog-index">

  <main>
    <article>
      <h1><%= @blog_post.title %></h1>
      <p><%= @blog_post.body %></p>
        <hr>
      <%= link_to "back", blog_posts_path %>
    </article>
    <aside>
      <%= render "welcome/side_bar" %>
    </aside>
  </main>

</section>


