<div>
  <% if current_admin %>
    <%= render "blog_posts/new_blog_post_button" %>
  <% end %>
</div>

<div>
  <h4>Schedule</h4>

  <p>Tuesday "Online Meetups"
    <%= link_to "Events", "https://plus.google.com/b/102551882338253835993/events" %>.</p>
  <p>We occasionally do some <%= link_to "Practice Practice Sessions","https://plus.google.com/b/102551882338253835993/events" %> during the week.</p>

  <iframe src="https://www.google.com/calendar/embed?src=9ciuegse13t8j292s6iimu5oto%40group.calendar.google.com&ctz=America/New_York" ></iframe>
</div>
