<div>
  <% if current_admin %>
    <%= render "blog_posts/new_blog_post_button" %>
  <% end %>
</div>

<div>
  <h4>Schedule</h4>
    <p>Tuesday "Online Meetups"
    <%= link_to "Events", "https://plus.google.com/b/102551882338253835993/events" , target: "_blank"%>.</p>
    <p>We occasionally do some <%= link_to "TDD Practice Sessions","https://plus.google.com/b/102551882338253835993/events" %> during the week on <%= link_to "Nitrous.io", "https://www.nitrous.io/join/5Q0SdS4QzCY?utm_source=nitrous.io&utm_medium=copypaste&utm_campaign=referral", target: "_blank" %>.</p>
    <div class="nitrous" id="what-image">
      <a href="https://www.nitrous.io/join/5Q0SdS4QzCY?utm_source=nitrous.io&utm_medium=copypaste&utm_campaign=referral"><img src="https://cdn1.lockerdome.com/uploads/ef7570f9e48e0e321ed3e42a58794791aed7d67fb0721e40295a466082546a68_large" border="0" alt="Link to this page", target="_blank"></a>
    </div>
</div>
