
<div class="video" >
	<h1>Live Newbie Hangout</h1>
	<p>live video is only available at regularly scheduled times<p>

	<iframe src="//www.youtube.com/embed/3yy2dajOZnI" allowfullscreen></iframe><br/>
	<!-- embed videochat here-->
	<p><%= link_to  "Join the Ruby Newbie Community", "https://plus.google.com/communities/115473914992534971842" %></p>
</div>