
<div class="video" >
	<h1>Live Newbie Hangout</h1>


	<iframe width="800" height="600" 
	src="https://www.youtube.com/playlist?list=PLk2OOH9M7VugRAbdBoi2_-nlHoAy2ft3D" frameborder="0" allowfullscreen>
	</iframe><br/>

	<p><%= link_to  "Join the Ruby Newbie Community", "https://plus.google.com/communities/115473914992534971842" %></p>

</div>