@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato);

$lightred: #ed4040;
$lightblue: #56b7e8;

@mixin color-transition($basic-color, $hover-color) {
  a {
    color: $basic-color;
    text-decoration: none;
    &:hover {
      color: $hover-color;
      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;
    }
  }
}

@mixin image-swap($id, $img1, $img2){
  #{$id} {
    background-image: url($img1);
    background-size: 100%;

    &:hover {
      background-image: url($img2);
      -webkit-transition: background-image 0.2s ease-in-out;
      -moz-transition: background-image 0.2s ease-in-out;
      -o-transition: background-image 0.2s ease-in-out;
      transition: background-image 0.2s ease-in-out;
    }
  }
}

body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: white;

  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
}

@include color-transition($lightred, $lightblue);

ul {
  list-style-type: none;
}

nav {

  @include color-transition(black, $lightblue);

  ul {
    list-style-type: none;
    display: inline;

    li {
      display: inline-block;
    }
  }
}

h4 {
  text-decoration: underline;
}

//header
header {
  width:80%;
  height: 150px;
  margin: 0 auto;

  font-size: 1.2em;
}
#logo {
  float: left;

  img {
    height: 100px;
  }

  p {
    font-style: italic;
  }
}

#header-nav {
  float: right;

  li {
    line-height: 100px;
    padding-left: 20px;
  }
}

//main content
main {
  min-height: 600px;
  width: 80%;
  margin: 50px auto;
  padding: 3% 0 3% 0;
}

article {
  width: 55%;
  float: left;
}

#what-image {
  display: inline-block;
}

.nitrous{
  max-width: 10px;
  max-height: 5px;
 img{
   max-width: 200px;
  max-height: 200px;
 }
}


aside {
  width: 40%;
  float: right;

  iframe {
    min-width: 450px;
    min-height: 500px;
    border: 0;
    frameborder: 0;
    scrolling: "no"
  }
}

#important {

  @include color-transition(white, $lightblue);

  width: 100%;
  padding: 5px;
  margin-top: 5%;
  background-color: $lightred;
  color: white;
}

.picto {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: inline-block;
}

@include image-swap("#gplus", "http://i.imgur.com/o8wWj4v.png", "http://i.imgur.com/GpJiGs9.png");
@include image-swap("#github", "http://i.imgur.com/VL0CmTh.png", "http://i.imgur.com/cV9JqmD.png");
@include image-swap("#twitter", "http://i.imgur.com/jsZoXWv.png", "http://i.imgur.com/A6GtPwa.png");
@include image-swap("#odin", "http://i.imgur.com/8YEVKWf.png", "http://i.imgur.com/KVp3TSg.png");
@include image-swap("#facebook", "http://i.imgur.com/NaL6EoR.png", "http://i.imgur.com/wVey78N.png");

/* video page */

.video {
    width: 800px;
    margin: 0 auto;
  h1, p {
    text-align: center;
  }

  iframe {
    width: 800px;
    height: 600px;
    border: 0;
    frameborder: 0;
  }
}

.fork {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

/* footer */

footer {
  height: 150px;
  width: 100%;
  border-top: lightgray solid 2px;
  padding-top: 20px;

  ul {
    float: right;
    li {
      padding: 0 20px 0 20px;

      @include color-transition($lightred, $lightblue);
    }
  }
}

#footer-wrapper {
  width: 80%;
  margin: 0 auto;
}
#links {
  float: left;

}

@media screen and (max-width: 1100px) {

  main {
    width: 95%;
  }

  article {
    float: none;
    width: 100%;
    margin-top: 100px;
  }

  aside {
    float: none;
    width: 100%;
    margin: 50px auto;

    iframe {
      width: 500px;
    }
  }

  header {
    width: 100%;
  }

  #logo {
    float: none;
    width: 350px;
    margin: 0 auto;
  }

  #header-nav {
    @include color-transition($lightred, $lightblue);
    float: none;
  }

  #footer-wrapper {
    width: 95%;
  }

}

/*form*/

form {
  padding: 2em;
}

.button {
  padding-top: 1em;
}

#blog_post_body {
  width: 50em;
  height: 20em;
}

@media screen and (max-width: 890px) {
  footer {
    ul {
      float: none;
      display: block;
      padding: 0px 10px 0 10px;
    }
  }
}

@media screen and (max-width: 560px) {

  aside {
    width: 100%;

    iframe {
      width: auto;
    }
  }

  #header-nav {
    margin-left: 0;
  }
}
