<footer class="footer"> 
  <nav>
    <ul>
    	<li>
    <%= link_to "Ruby Newbies", "http://twitter.com/brianllamar" %>
    by <%= link_to "Brian", "http://twitter.com/brianllamar"%>
  </li>
      <li>Brought to you by<a href="http://www.theodinproject.com/home"> The Odin Project</a></li>
    </ul>
  </nav>
</footer>