<footer class="footer">
  <small>
    <a href="http://twitter.com/brianllamar">Ruby Newbies</a>
    by <%= link_to "Brian", "http://twitter.com/brianllamar"%>
  </small>
  <nav>
    <ul>
      <li>Brought to you by<a href="http://www.theodinproject.com/home">The Odin Project</a></li>
    </ul>
  </nav>
</footer>